$coloruno: #146060;
$colodos: #42332E;
$colortres: #FFFFFF;
$tipografia: 'roboto', sans-serif;
$radius: 5px;
$padding-left: 50px;

/*map*/
$estilos:(
    color: #42332E
    font: 'Roboto', sans-serif ) 